<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Link to a Font Awesome stylesheet for icons (ensure the integrity and crossorigin attributes are correct) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <title>Home</title>

  <!-- Link to your custom stylesheet for this page -->
  <link rel="stylesheet" href="/public/Style_sheets/Home/style.css">
</head>

<body>
  <header>
    <nav>
      <h1>Grievance</h1>

      <!-- Navigation links -->
      <div class="links">
        <a href="<% URL%>/categories" class="grieveance">Grievance Category</a>
        
        <!-- Conditional rendering based on 'userStatus' variable -->
        <% if(userStatus){ %>
          <a href="<% URL%>/api/logout" class="loginBtn">Logout</a>
        <% } else { %>
          <a href="<% URL%>/login" class="loginBtn">Login</a>
        <% } %>
      </div>
    </nav>
  </header>

  <main>
    <!-- Links to other pages or content (e.g., categories and user profile) -->
    <a href="<%= URL%>/categories" class="card"><img src="/Assets/Home/img-2.jpg" alt=""></a>
    <a href="<%= URL%>/profile" class="card"><img src="/Assets/Home/img-1.jpg" alt=""></a>
  </main>
</body>

<!-- Include a JavaScript file if needed -->
<script type="module" src="/public/scripts/home/script.js"></script>
</html>
