<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/Style_sheets/Profile/style.css">
</head>

<body>
    <div class="container">
        <div class="dp">
            <img src="/Assets/Students/stu_1.jpg" alt="">
        </div>
        <div class="content">
            <div class="left">
                <div class="c1">
                    <span class="key">Name</span>
                    <span class="key">Contact</span>
                    <span class="key">Gmail</span>
                </div>
                <div class="c2">
                    <span class="value"> : Sahil Verma</span>
                    <span class="value"> : 1234567890</span>
                    <span class="value"> : Sahilverma@gmail.com</span>
                </div>
            </div>
            <div class="right">
                <div class="c1">
                    <span class="key">CRN</span>
                    <span class="key">Course</span>
                    <span class="key">Branch</span>
                </div>
                <div class="c2">
                    <span class="value"> : 22CSME017</span>
                    <span class="value"> : B Teach</span>
                    <span class="value"> : Aiml</span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>