<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration</title>
</head>
<body>
    <div class="page">
        <form enctype="multipart/form-data">
            <input type="text" name="crn" id="" placeholder="crn">
            <input type="text" name="name" placeholder="name">
            <input type="password" name="password" id="" placeholder="password">
            <input type="number" name="contact" placeholder="contact">
            <input type="email" name="eMail" id="" placeholder="email">
            <input type="file" name="profile" id="">
            <input type="text" name="course" id="" placeholder="course">
            <input type="text" name="branch" id="" placeholder="branch">
            <input type="submit" value="Submit"> 
        </form>
    </div>
</body>
<script src="/Public/Scripts/Registration/script.js"></script>
<script>fetchData("secerateKey")</script>
</html>